{% extends "base.html" %} {% block title %}Book Seat{% endblock %} {% block
content %}
<h1>Book Seat for {{ screening.movie.title }}</h1>
<form method="POST" action="{{ url_for('main.book_seat', screening_id=screening.id) }}">
  {{ form.hidden_tag() }}
  <div>
    {{ form.cinema.label }}: {{ form.cinema }}
  </div>
  <div>
      {{ form.movie.label }}: {{ form.movie }}
  </div>
  <div>
    {{ form.hall.label }}: {{ form.hall }}
  </div>
  <div>
      {{ form.screening_time.label }}: {{ form.screening_time }}
  </div>
  <div>{{ form.seat_number.label }}: {{ form.seat_number }}</div>
  
  


  {% if form.seat_number.errors %}
      <ul class="errors">
          {% for error in form.seat_number.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
  {% endif %}


  <button type="submit">Book</button>
</form>

<script>
  var seat_lst = []
  function toggleSeat(button) {
      
      const inputField = document.querySelector('input[name="seat_number"]');
      const select_seat_num = button.getAttribute('title').replace('Seat ', '') 
      console.log(inputField)
      // // 如果座位已被選定，則取消選擇並清空輸入框
      if (button.classList.contains('select')) {
          button.classList.remove('select');
          button.classList.add('available');
          const index = seat_lst.indexOf(select_seat_num);
          if (index !== -1) {
              seat_lst.splice(index, 1);
          }
          if (inputField) inputField.value = seat_lst;

      }
      // // 如果座位是可用的，則標記為選定並設置輸入框值
      else if (button.classList.contains('available')) {
          // 確保只有一個座位被選中
          // const selectedSeat = document.querySelector('.seat.select');
          // if (selectedSeat) {
          //     selectedSeat.classList.remove('select');
          //     selectedSeat.classList.add('available');
          // }
          button.classList.remove('available');
          button.classList.add('select');
          seat_lst.push(select_seat_num)
          console.log(seat_lst)
          if (inputField) inputField.value = seat_lst;
      }
  }
  </script>
  

  <div>
    {% for row in seating_chart %}
    <div class="row">
        Row {{ '%02d' % loop.index }}:
        {% for seat in row %}
          <button class="seat {{ seat.status }}" title="Seat {{ seat.seat_number }}" onclick="toggleSeat(this)">
            {{ '%03d' % seat.seat_number }}
          </button>
        {% endfor %}
    </div>
    {% endfor %}
  </div>
 



{% endblock %}


