{% extends "base.html" %} {% block title %}Book Seat{% endblock %} {% block
content %}
<h1>Book Seat for {{ screening.movie.title }}</h1>
<form method="POST" action="{{ url_for('main.book_seat', screening_id=screening.id) }}">
  {{ form.hidden_tag() }}
  <div>
    {{ form.cinema.label }}: {{ form.cinema }}
  </div>
  <div>
      {{ form.movie.label }}: {{ form.movie }}
  </div>
  <div>
    {{ form.hall.label }}: {{ form.hall }}
  </div>
  <div>
      {{ form.screening_time.label }}: {{ form.screening_time }}
  </div>
  <div>{{ form.seat_number.label }}: {{ form.seat_number }}</div>
  
  


  {% if form.seat_number.errors %}
      <ul class="errors">
          {% for error in form.seat_number.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
  {% endif %}


  <button type="submit">Book</button>
  
  <div>
    {% for row in seating_chart %}
    <div class="row">
        Row {{ loop.index }}:
        {% for seat in row %}
          <p class="seat {{ seat.status }}" title="Seat {{ seat.seat_number }}">
            {{ '%03d' % seat.seat_number }}
          </p>
        {% endfor %}
    </div>
    {% endfor %}
  </div>
 



{% endblock %}


